<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.assurerail.daily-qa</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__REPO__/scripts/assurerail-daily-qa.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>ARAIL_REPO_ROOT</key>
    <string>__REPO__</string>
    <key>ARAIL_SHADOW_ROOT</key>
    <string>__SHADOW__</string>
    <key>ARAIL_STRIX_SECRET_FILE</key>
    <string>__STRIX_SECRET_FILE__</string>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>2</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/daily-qa.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/daily-qa.stderr.log</string>
</dict>
</plist>
